<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.prueba.app"
	versionCode="1"
	version   = "1.0.0">
    <name>prueba</name>
    <description>

</description>

    <platform name="ios" />
	<platform name="android" />
    <preference name="phonegap-version" value="cli-7.1.0" />
	<preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="Disallowsscroll" value="true"/>
    <preference name="disallowOverscroll" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="1200" />
    <preference name="FadeSplashScreenDuration" value="200"/>

    <!-- iOS -->
    <preference name="target-device" value="universal"/>
    <preference name="deployment-target" value="7.0"/>
    <preference name="exit-on-suspend" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="prerendered-icon" value="false" />


		<preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="KeepRunning" value="false"/>

    <!-- Android -->
    <preference name="android-installLocation" value="auto"/>

    <!-- icons and splash -->
    <platform name="ios">
        <icon src="res/icon/ios/icon.png" width="57" height="57"/>
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
        <icon src="res/icon/ios/icon-40.png" width="40" height="40"/>
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80"/>
        <icon src="res/icon/ios/icon-50.png" width="50" height="50"/>
        <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100"/>
        <icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
        <icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
        <icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
        <icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
        <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
        <icon src="res/icon/ios/icon-small@3x.png" width="87" height="87"/>
      </platform>

       <platform name="android">
        <icon src="res/icon/android/drawable-ldpi-icon.png" qualifier="ldpi"/>
        <icon src="res/icon/android/drawable-mdpi-icon.png" qualifier="mdpi"/>
        <icon src="res/icon/android/drawable-hdpi-icon.png" qualifier="hdpi"/>
        <icon src="res/icon/android/drawable-xhdpi-icon.png" qualifier="xhdpi"/>
        <icon src="res/icon/android/drawable-xxhdpi-icon.png" qualifier="xxhdpi"/>
        <icon src="res/icon/android/drawable-xxxhdpi-icon.png" qualifier="xxxhdpi"/>
      </platform>

       <platform name="ios">
		   
		<splash src="res/screen/ios/Default@2x~universal~anyany.png" />
       
      </platform>

      <platform name="android">
        <splash src="res/screen/android/drawable-port-ldpi-screen.png" qualifier="ldpi"/>
        <splash src="res/screen/android/drawable-port-mdpi-screen.png" qualifier="mdpi"/>
        <splash src="res/screen/android/drawable-port-hdpi-screen.png" qualifier="hdpi"/>
        <splash src="res/screen/android/drawable-port-xhdpi-screen.png" qualifier="xhdpi"/>
        <splash src="res/screen/android/drawable-port-xxhdpi-screen.png" qualifier="xxhdpi"/>
        <splash src="res/screen/android/drawable-port-xxxhdpi-screen.png" qualifier="xxxhdpi"/>
      </platform>

    	<preference name="permissions" value="none"/>


     
      	<access origin="*" subdomains="true"/>
		<access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->
       	<access origin="whatsapp:*" launch-external="yes" />
      <allow-intent href="http://*/*"/>
      <allow-intent href="https://*/*"/>
      <allow-intent href="tel:*"/>
      <allow-intent href="sms:*"/>
      <allow-intent href="whatsapp:*"/>
      <allow-intent href="mailto:*"/>
      <allow-intent href="geo:*"/>
      <platform name="android">
        <allow-intent href="market:*"/>
      </platform>
      <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
      </platform>
    <!--<feature name="http://api.phonegap.com/1.0/network"/>
	<plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
	<plugin name="cordova-plugin-statusbar" spec="~2.2.2" />-->

</widget>
